Checks: >
  bugprone-*, 
  clang-analyzer-*, 
  -clang-diagnostic-pragma-once-outside-header,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-member-init,
  modernize-*,
  -modernize-use-nodiscard,
  performance-*, 
  portability-*,
  readability-*,
  -readability-else-after-return,

# Check comments (because PIO is using an outdated version of clang-tidy which doesn't allow Checks to be a list)
# -cppcoreguidelines-avoid-non-const-global-variables: Some globals are nearly essential in an Arduino-type project
# -cppcoreguidelines-owning-memory: Doesn't seem worth the effort, but I could be convinced otherwise.
# -cppcoreguidelines-pro-type-member-init: The constructor should be responsible for initializing its members.
# -modernize-use-nodiscard: There are other lint checks that should prevent unused code, so I'd rather not introduce additional syntax.
# -readability-else-after-return: There are times when I feel the else statement is more readable.
# -clang-diagnostic-pragma-once-outside-header: ClangTidy is evaluating files in isolation, but "pragma once" is useful in context of the full build.